:root {
  --color-primary: #39cdcc;
  --color-secondary: #213f7d;
  --color-bg-left: #fbfbfb;
  --color-bg-right: #ffffff;
  --color-text-muted: #545f7d;
  --color-input-border: #545F7D26;
  --font-primary: var(--font-work-sans);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-primary), Arial, Helvetica, sans-serif;
}

button,
input {
  font: inherit;
}


.table {
  overflow-x: auto;
  display: block;
  }


@media (max-width: 1024px) {

  .sidebar {
  display: none;
  }
  
  .content {
  padding: 20px;
  }
  
  }